<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516900284675-6i0hm5os6705s5h12t6pmssc6elj2afk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516900284675-6i0hm5os6705s5h12t6pmssc6elj2afk</string>
	<key>API_KEY</key>
	<string>AIzaSyAa6aMkkDjsYhPLnHaiETMiiON30OVowVk</string>
	<key>GCM_SENDER_ID</key>
	<string>516900284675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>github.com-kira1021.FirstCitizen</string>
	<key>PROJECT_ID</key>
	<string>firstcitizenios</string>
	<key>STORAGE_BUCKET</key>
	<string>firstcitizenios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516900284675:ios:d2b4f0a30dcf8d197b6136</string>
	<key>DATABASE_URL</key>
	<string>https://firstcitizenios.firebaseio.com</string>
</dict>
</plist>